/* You can add global styles to this file, and also import other style files */

/* Import Bootstrap styles */
@use "bootstrap/scss/bootstrap";

/* Import ng-select styles */
@import "@ng-select/ng-select/themes/default.theme.css";

/* Fix nav tabs when embedded in host */
app-root {
  /* Override host's global * reset for nav components */
  .nav-tabs {
    .nav-link {
      margin-bottom: -1px !important;
      border: 1px solid transparent !important;
      border-top-left-radius: 0.25rem !important;
      border-top-right-radius: 0.25rem !important;
    }

    .nav-link:hover,
    .nav-link:focus {
      isolation: isolate !important;
      border-color: var(--bs-nav-tabs-link-hover-border-color) !important;
    }

    .nav-link.active {
      color: var(--bs-nav-tabs-link-active-color) !important;
      background-color: var(--bs-nav-tabs-link-active-bg) !important;
      border-color: var(--bs-nav-tabs-link-active-border-color) !important;
    }
  }
}
